<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">

</head>
<body>
    
    <div class="navbar">
        <div class="nav-left">
            <a href="/">Home</a>
        </div>
        <div class="nav-right">
            <a href="about.html">About</a>
            <a href="model.html">Try it out!</a>
        </div>
    </div>


    <div class="content dev-content">
        
        <div class="dev"> 
            
            <h2 class="about-us">About Us</h2>
        
            <div class="developer">
                <div class="row1">
                    
                    <div class="profile">
                        <img src="{{ url_for('static',filename='images/pfp.jpg') }}" alt="Nishumbh Shah" class="profile-pic">
                        Nishumbh Shah
                    </div>
                    <div class="profile">
                        <img src="{{ url_for('static',filename='images/pfp.jpg') }}" alt="Siddharth Sahani" class="profile-pic">
                        Siddharth Sahani
                    </div>
                </div>
                <div class="row2">
                    <div class="profile">
                        <img src="{{ url_for('static',filename='images/pfp.jpg') }}" alt="Luqmaan Sheikh" class="profile-pic">
                        Luqmaan Sheikh
                    </div>
                    <div class="profile">
                        <img src="{{ url_for('static',filename='images/pfp.jpg') }}" alt="Dev Tangadi" class="profile-pic">
                        Dev Tangadi
                    </div>
                </div>
            </div>

        </div>
    </div>
    
</body>



</html>