<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Integer Input Form</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>

<form action="/" method="post">
    <input type="hidden" name="file_name" value="{{ file_name }}">
    <button type="submit">Download</button>
</form>

<div class="container">
    <h1>File Upload Form</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv">
        <button type="submit">Upload</button>
    </form>
</div>
    
<div>
    {{ table | safe }}
</div>
    
</body>
</html>
